* { 
  left: 0px;
  top: 0;
  position: fixed;
}

.controller {
  left: 0px;
  top: 0;
  position: fixed;

  --input-size:    32px;
  --input-padding: 8px;
}

.face,
.button,
.arrows .start,
.arrows .back
{
  position: fixed;
  display: block;
  width: var(--input-size);
  height: var(--input-size);
  background-image: url("./gamepadviewer.png");
  background-repeat: no-repeat;
  background-size: auto 200%;
  image-rendering: pixelated;
}


.face.up       { --input-index: 0 }
.face.down     { --input-index: 1 }
.face.left     { --input-index: 2 }
.face.right    { --input-index: 3 }
.button.b      { --input-index: 4 }
.button.a      { --input-index: 5 }
.button.x      { --input-index: 6 }
.button.y      { --input-index: 7 }
.arrows .back  { --input-index: 8 }
.arrows .start { --input-index: 9 }


.face.up,
.face.down,
.face.left,
.face.right,
.button.a,
.button.b,
.button.x,
.button.y,
.arrows .back,
.arrows .start
{
  left: calc(var(--input-size) * var(--input-index));
  background-position-x: calc(0px - (var(--input-size) * var(--input-index)));
  background-position-y: 0;
}

.face.up.pressed,
.face.down.pressed,
.face.left.pressed,
.face.right.pressed,
.button.a.pressed,
.button.b.pressed,
.button.x.pressed,
.button.y.pressed,
.arrows .back.pressed,
.arrows .start.pressed
{
  background-position-y: calc(0px - var(--input-size));
}

.button.x,
.button.y 
{
  display: none;
}
